* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: #F7F7F7;
}

.logo {
  display: block;
  margin: 100px auto 100px auto;
}

input {
  display: flex;
  background: #FFFFFF;
  margin: 0 auto 15px;
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  width: 321px;
  height: 46px;
  font-size: 13px;
  padding-left: 19px;
  border: none;
  color: #969696;
  outline: none;
}

.forg {
  display: block;
  margin: 20px auto;
  background: transparent;
  width: 320px;
}

.forgot {
  display: block;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  text-align: right;
}

button {
  margin: 20px auto 0 auto;
  display: block;
  padding: 10px 40px;
  background: #323232;
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
}

.dont {
  display: block;
  margin: 21px;
  text-align: center;
  font-size: 15px;
  color: #969696;
  text-decoration: none;
}

strong {
  color: #323232;
}

P {
  margin: 30px auto 20px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.midias {
  margin-bottom: 50px;
  text-align: center;
  cursor: pointer;
}

.midias img {
  margin: 0 5px;
}