* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: #F7F7F7;
}


.image {
    display:block;
    margin: 142px auto 122px auto;
    width: 311px;
    height: 239px;
}

.balls {
    display: block;
    text-align: center;
    margin: 0px auto 81px auto;
    width: 64px;
    height: 10px;
}

p{
    text-align: center;
    display: block;
    margin: 0px 44px 10px 44px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
button{
    display: block;
    text-align: center;
    background-color: #323232;
    color: white;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    width: 173px;
    height: 46px;
    margin: 60px auto 100px auto;
}
